@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(254, 241, 250);
  background: linear-gradient(
    142deg,
    rgba(254, 241, 250, 1) 0%,
    rgba(181, 217, 251, 1) 100%
  );
  overflow: hidden;
}
